html{
	font-size: 1rem;
}
body{
	background: #EBEBEB;
}
header{
	width: 100%;
	height: 2.2rem;
	background: #3DB1FA;
	display: flex;
	justify-content: space-around;
	font-size: 0.7rem;
	line-height: 2.0rem;
	font-weight: bold;
}
header a{
	color: #fff;
}
header .h-img{
	width: 4.65rem;
	height: 1.4rem;
}
header .h-img img{
	width: 4.65rem;
	height: 1.4rem;
	vertical-align: middle;

}
.swiper-container {
            width: 18.75rem;
            height: 10.0rem;
            color: red;
            text-align: center;
        }
.lb{
	display: block;
	width: 100%;
	height: 100%;
}
.lb img{
	width: 100%;
	height: 100%;
}
.num{
	width: 100%;
	height: 1.175rem*2;
	display: flex;
	justify-content: space-around;
	padding: 0.25rem 0;
	margin-top: 0.550rem;
	margin-bottom: 0.550rem;
	background: #fff;
}
.num div{
	width: 2.075rem*2;
	height: 0.825rem*2;
	padding: 0 0.5rem*2;
	text-align: center;
}
.num strong{
	color: #3DB1FA;
	font-size: 0.3rem*2;
	font-weight: bold;
}
.num p{
	color: #B2B2B2;
	font-size: 0.325rem;
}
.room{
	width: calc(8.75 * 2rem);
	height: calc(0.875 * 2rem);
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 0.875rem;
	margin: 0 auto;
	border-radius: 0.5rem;
}
.room a{
	display: block;
	color: white;
	text-align: center;
	line-height: calc(0.875 * 2rem);
	background: #3DB1FA;
}
.happy{
	text-align: left;
	line-height: 1.075rem;
	margin: 0.4rem 0;
}
.happy img{
	vertical-align: middle;
	padding-left: 0.675rem;
}
.four{
	height: 2.2rem;
	background: #fff;
	text-align: center;
	line-height: 2.2rem;
	font-size: 0.8rem;
	margin: 0.5rem 0;
}
.four a{
	display: inline-block;
	padding: 0 0.25rem;
	font-weight: bold;
}
.wait{
	width: calc(8.75 * 2rem);
	height: calc(3.025 * 2rem);
	margin: 0.3rem auto;
	display: flex;
	background: #fff;

}
.one{
	flex: 9;
}
.one .spa{
	display: flex;
}
.wait-o{
	padding-left: 0.3rem;
	margin-top: 0.25rem;
	color: #870000;
}
.one .spa span{
	display: inline-block;
	margin: 0.125rem 0.5rem;
	color: #959595;
}
.spa2 span{
	display: inline-block;
	margin: 0.125rem 0.8rem;
	color: #959595;
}
.one .spa .span-o{
	color: #3DB1FA;
}
.two{
	flex: 1;
	background: #3DB1FA;
		text-align: center;
		color: #fff;
		line-height: 1.125rem;
		padding-top: 0.5rem;
}
.two a{
	display: block;
	color: #fff;
	font-size: 1rem;
}
.new{
	text-align: left;
	line-height: 1.075rem;
	margin: 0.4rem 0;
}
.new img{
	vertical-align: middle;
	padding-left: 0.675rem;
}
.footer{
	width: 100%;
	height: 2.73rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	border-bottom: 0.05rem solid #3DB1FA;
}
.footer ul{
	display: flex;
}
.footer ul li{
	width: 4rem;
	height: 2.73rem;
	float: left;
	flex: 1;
	text-align: center;
}
.footer ul li a{
	display: block;
	text-align: center;
	color: #868689;
	font-size: 0.7rem;
	line-height: 4rem;
}
.footer ul li a{
	display: inline-block;
	width: calc(0.725 * 2rem);
	height: calc(0.470 * 2rem);
	text-align: center;
	padding-bottom: 0.5rem;
}
.footer ul li a span{
	width: calc(0.725 * 2rem);
	height: calc(0.725 * 2rem);
}
.footer ul li:first-child a{
	background: url('../img/zhuye.png') no-repeat 0px 0px;
	background-size: 100%;
}
.footer ul li:nth-child(2) a{
	background: url('../img/touzi.png') no-repeat 0px 0px;
		background-size: 100%;
}
.footer ul li:nth-child(3) a{
	background: url('../img/grzx.png') no-repeat 0px 0px;
		background-size: 100%;
}
.footer ul li:last-child a{
	background: url('../img/mores.png') no-repeat 0px 0px;
		background-size: 100%;
}

